$color-primary: #145b15;
$color-primary-light: #e8fce8;
$color-white: #fff;
$color-black: #000000;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }


body {
	min-height: 100vh;
}

.navbar-inverse{
	background: $color-primary;
}

.navbar-inverse .navbar-nav>li>a {
    color: $color-primary-light;
}

.navbar-inverse .navbar-brand {
	color: $color-white;
}

.navbar-inverse .navbar-brand:hover {
	color: $color-primary-light;
}

.header {
	padding-top: 50px;
}

.photo {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.photo2 {
	text-align: center;
	padding-bottom: 40px;
}

h1 {
	font-family: "Cabin", sans-serif;
	font-weight: 600;
  	font-size: 3.6rem;
  	line-height: 1.5;
	text-align: center;
}

h2{
	font-family: "Cabin", sans-serif;
    font-size: 2rem;
	text-align: justify;
    line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 10px;
	color: $color-black;
}

h3{
	font-family: "Cabin", sans-serif;
    font-size: 1.8rem;
	text-align: center;
    line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 10px;
	color: $color-black;
}


h5{
   font-family: "Cabin", sans-serif; 
   font-size: 1.4rem;
}

h6{
   font-family: "Cabin", sans-serif;
   font-size: 1.3rem;
   color: $color-primary-light;
}

p{
    font-family: "Cabin", sans-serif;
	color: $color-black;
	font-weight: normal;
    text-indent: 40px;
	font-size: 2rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
    margin-right: 35px;
    margin-left: 35px;
}

p.vidtittle {
	text-align: center;
	font-family: "Cabin", sans-serif;
	font-size: 1.7rem;
	color: $color-black;
    padding-top: 0px;
	padding-bottom: 25px;
    text-indent: 0;
    margin: none;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.dove {
    padding-bottom: 80px;
}

.sonic {
	color: $color-white;
}

.footer {
   width: 100%;
   background-color: $color-primary;
   color: $color-white;
   text-align: center;
   padding-top: 20px;
}


.social {
	padding-bottom: 40px;
}

.welcome {
   display: block;
   color: $color-primary;
   font-family: Cabin;
   font-size: 3.8rem;
   font-weight: 900;
   letter-spacing: 1.75rem;
   text-align: center;
   text-transform: uppercase;
   margin-top: 8rem;
   margin-bottom: 8rem;
   text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
   animation: moveInRight 8s ease-out;
}

.last {
   display: block;
   color: $color-primary;
   font-family: Satisfy;
   font-size: 3.7rem;;
   font-weight: 900;
   letter-spacing: 1.75rem;
   text-align: center;
   margin-bottom: 8rem;
   animation: moveInLeft 8s ease-out;
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
