@charset "UTF-8";
/* CSS Document */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
	text-align:center;
	background-size:cover;
    line-height: 1.5;
}

.row {
    border: 1px  solid #d4efc9;
}


.navbar-inverse {
  background: #145b15; }

.navbar-inverse .navbar-nav > li > a {
  color: #e8fce8; }

.navbar-inverse .navbar-brand {
  color: #fff; }

.navbar-inverse .navbar-brand:hover {
  color: #e8fce8; }

.header {
  padding-top: 50px; }


.photo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: none; 
}



h1 {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    text-align: center; 
}



h2{
	font-family: "Rock Salt";
    font-weight: 900;
	font-style: bold;
	font-size: 7.0rem;
	color: #145b15;
	padding-top: 50px;
	padding-bottom: 20px;
}


h3{
	font-weight: normal;
	font-size: 2.8rem;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}


h4 {
	font-weight: normal;
	font-size: 17px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: justify;
}


h5 {
   font-family: "Cabin", sans-serif;
   font-size: 1.4rem;
}


h6 {
   font-family: "Cabin", sans-serif;
   font-size: 1.3rem;
   color: #e8fce8; 
}


p{
   color: black;
   text-indent: 40px;
   font-weight: normal;
   font-size: 2.2rem;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-right: 100px;
   margin-left: 100px;
}


#art {
   background: url("../img/pastorar.png") no-repeat center fixed;
   margin-left: 0.9px;
   margin-right: 0.9px;
}


.title {
   font-family: "Rock Salt";
   font-size: 6.0rem;
   padding-top: 50px;
   padding-bottom: 20px;
   animation: moveInRight 2s ease-in;
}

.title2 {
   font-family: "Rock Salt";
   font-size: 6.0rem;
   padding-top: 20px;
   padding-bottom: 50px;
   animation: moveInLeft 2s ease-in;
}


.dates {
   font-size: 2rem;
   color: black;
   padding-top: 5px;
   padding-bottom: 5px;
}


.social {
   padding-top: none;
   padding-bottom: 40px; 
}


.footer {
   width: 100%;
   background-color: #145b15;
   color: #fff;
   text-align: center;
   padding-top: 20px; 
}


.sonic {
   color: #F9E528; 
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }



