@charset "UTF-8";
/* CSS Document */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }


body {
	text-align:center;
	background-size:cover;
    line-height: 1.5;
}

.row {
    border: 1px  solid #d4efc9;
}


.navbar-inverse {
  background: #145b15; }

.navbar-inverse .navbar-nav > li > a {
  color: #e8fce8; }

.navbar-inverse .navbar-brand {
  color: #fff; }

.navbar-inverse .navbar-brand:hover {
  color: #e8fce8; }

.header {
  padding-top: 10px; }


.welcome {
   display: block;
   color: #145b15;
   font-family: Roboto Slab;
   font-size: 2.2vw;;
   font-weight: 900;
   letter-spacing: 1.75rem;
   text-align: center;
   text-transform: none;
   margin-top: 8rem;
   margin-bottom: 8rem;
   text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
   animation: moveInRight 8s ease-out;
}

.map {
    padding-top: 20px;
    padding-bottom: 60px;
}


h1 {
    font-family: "Cabin", sans-serif;
    font-size: 3.6rem;
    text-align: center; 
}


h5 {
   font-family: "Cabin", sans-serif;
   font-size: 1.4rem;
}


h6 {
   font-family: "Cabin", sans-serif;
   font-size: 1.3rem;
   color: #e8fce8; 
}


#art {
   background: url("../img/pastorar.png") no-repeat center fixed;
   margin-left: 0.9px;
   margin-right: 0.9px;
}


.social {
   padding-top: 50px;
   padding-bottom: 10px; 
}


.footer {
   width: 100%;
   background-color: #145b15;
   color: #fff;
   text-align: center;
   padding-top: 20px; 
}


.sonic {
   color: #F9E528; 
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


#contact {
	padding: 40px 0;
	color: #140660;
}

#contact .btn-default {
	border: 1px solid #f9d902;
	background-color: #f9d902;
	border-radius: 0;
}

#contact .btn-default:hover {
	color: #f9d902;
	background-color: #140660;
}

form {
    padding-bottom: 60px;
}

p{
   color: black;
   font-weight: normal;
   font-size: 1.9rem;
   padding-top: 0px;
   padding-bottom: 60px;
}




